{% assign author = users[post.data.author] %}
<article class="post-card">
  <div class="post-card__meta">
    <time datetime="{{ post.date | dateFormat: 'iso' }}">{{ post.date | dateFormat }}</time>
    <span class="dot">&middot;</span><span>{{ post.content | readingTime }} read</span>
    {% if author %}
      <span class="dot">&middot;</span><span><a href="/author/{{ post.data.author }}/">{{ author.fullname }}</a></span>
    {% endif %}
  </div>
  <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
  <p class="post-card__excerpt">{{ post.content | excerpt: 200 }}</p>
  {% if post.data.tags %}
    <div class="tag-list">
      {% for tag in post.data.tags %}
        {% unless tag == "post" or tag == "all" %}
          <a class="tag" href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
        {% endunless %}
      {% endfor %}
    </div>
  {% endif %}
  <div class="post-card__footer">
    <a class="post-card__read" href="{{ post.url }}">Continue reading</a>
  </div>
</article>
